In [13]:
from scipy.io import arff
import pandas as pd
import numpy as np

In [2]:
data = arff.loadarff('4year.arff')
df = pd.DataFrame(data[0])

In [3]:
df['bankruptcy'] = (df['class']==b'1')

In [4]:
df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class,bankruptcy
0,0.159290,0.46240,0.07773,1.1683,-44.853,0.467020,0.189480,0.82895,1.1223,0.38330,...,0.41557,0.89101,0.001422,7.7928,4.9914,119.810,3.0465,3.0560,b'0',False
1,-0.127430,0.46243,0.26917,1.7517,7.597,0.000925,-0.127430,1.16250,1.2944,0.53757,...,-0.23704,1.06250,0.150410,5.4327,3.4629,100.970,3.6150,3.4725,b'0',False
2,0.070488,0.23570,0.52781,3.2393,125.680,0.163670,0.086895,2.87180,1.0574,0.67689,...,0.10413,0.94571,0.000000,7.1070,3.3808,76.076,4.7978,4.7818,b'0',False
3,0.136760,0.40538,0.31543,1.8705,19.115,0.504970,0.136760,1.45390,1.1144,0.58938,...,0.23203,0.89737,0.073024,6.1384,4.2241,88.299,4.1337,4.6484,b'0',False
4,-0.110080,0.69793,0.18878,1.2713,-15.344,0.000000,-0.110080,0.43282,1.7350,0.30207,...,-0.36440,0.57153,0.000000,18.8010,2.7925,146.390,2.4934,15.0360,b'0',False

In [5]:
df.describe()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
count,9791.000000,9791.000000,9791.000000,9749.000000,9.771000e+03,9791.000000,9791.000000,9773.000000,9792.000000,9791.000000,...,9.792000e+03,9771.000000,9791.000000,9776.000000,9791.000000,9178.000000,9760.000000,9.771000e+03,9749.000000,9561.000000
mean,0.043019,0.596404,0.130959,8.136600,6.465164e+01,-0.059273,0.059446,19.884016,1.882296,0.389040,...,7.686330e+03,-0.992263,0.035022,1.133287,0.856053,118.156064,25.194430,2.015157e+03,8.660813,35.949619
std,0.359321,4.587122,4.559074,290.647281,1.475939e+04,6.812754,0.533344,698.697015,17.674650,4.590299,...,7.605261e+04,77.007971,8.945365,8.038201,26.393305,3230.316692,1099.260821,1.171461e+05,60.838202,483.318623
min,-12.458000,0.000000,-445.910000,-0.045319,-3.794600e+05,-486.820000,-12.458000,-1.848200,-0.032371,-445.910000,...,-7.132200e+05,-7522.100000,-597.420000,-30.892000,-284.380000,0.000000,-12.656000,-1.496500e+04,-0.024390,-0.000015
25%,0.001321,0.263145,0.020377,1.047000,-5.121700e+01,-0.000578,0.003004,0.428300,1.006675,0.294440,...,2.184000e+01,0.003121,0.008768,0.885722,0.000000,5.356325,4.267700,4.323400e+01,2.938800,2.012900
50%,0.041364,0.467740,0.199290,1.591800,-5.557600e-02,0.000000,0.048820,1.088700,1.161300,0.510450,...,9.503300e+02,0.043679,0.098026,0.958305,0.002129,9.482000,6.283550,7.472900e+01,4.848900,4.041600
75%,0.111130,0.689255,0.410670,2.880400,5.573200e+01,0.065322,0.126940,2.691000,1.970225,0.714290,...,4.694550e+03,0.117170,0.242680,0.996163,0.211790,19.506000,9.938200,1.233450e+02,8.363800,9.413500
max,20.482000,446.910000,22.769000,27146.000000,1.034100e+06,322.200000,38.618000,53209.000000,1704.800000,12.602000,...,6.123700e+06,112.020000,226.760000,668.750000,1661.000000,251570.000000,108000.000000,1.077900e+07,5662.400000,21153.000000

In [6]:
sum(df.bankruptcy == True)

515

In [7]:
df2 = df[['Attr1','Attr2','Attr7','Attr10','bankruptcy']]
df2.columns = ['X1','X2','X7','X10','Bankruptcy']

In [8]:
print(df2)

            X1        X2        X7       X10  Bankruptcy
0     0.159290  0.462400  0.189480  0.383300       False
1    -0.127430  0.462430 -0.127430  0.537570       False
2     0.070488  0.235700  0.086895  0.676890       False
3     0.136760  0.405380  0.136760  0.589380       False
4    -0.110080  0.697930 -0.110080  0.302070       False
5     0.021539  0.584250  0.029628  0.415750       False
6     0.227430  0.522660  0.283000  0.477340       False
7     0.038662  0.594980  0.038662  0.405020       False
8     0.131030  0.472020  0.163780  0.527980       False
9     0.176980  0.193590  0.212810  0.806410       False
10    0.117670  0.373320  0.145710  0.626680       False
11    0.032153  0.902120  0.032153  0.097879       False
12   -0.075580  0.936210 -0.075580  0.013214       False
13    0.211890  0.233070  0.264610  0.719900       False
14    0.046169  0.247930  0.048998  0.743240       False
15    0.069618  0.309770  0.087276  0.690230       False
16    0.113760  0.525320  0.144530  0.474680       False
17   -1.193800  0.615150 -1.193800  0.384850       False
18    0.024596  0.366910  0.032662  0.633090       False
19    0.005750  0.906890  0.005750  0.084948       False
20    0.221510  0.238730  0.221510  0.761270       False
21    0.061482  0.354400  0.077513  0.645600       False
22    0.426290  0.365600  0.174180  0.634400       False
23    0.001662  0.846220  0.001662  0.153780       False
24    0.005414  0.435910  0.008061  0.564090       False
25    0.029462  0.837980  0.036490  0.162020       False
26    0.100710  0.697610  0.128430  0.302390       False
27    0.059803  0.177560  0.077343  0.682960       False
28    0.092920  0.604290  0.117090  0.395710       False
29    0.169810  0.228240  0.210030  0.733450       False
...        ...       ...       ...       ...         ...
9762  0.033815  0.612560  0.033815  0.340550        True
9763 -0.255570  0.931520 -0.250960  0.054129        True
9764 -0.016885  0.643430  0.015934  0.356570        True
9765 -0.184490  1.520100 -0.184490 -0.522640        True
9766 -0.075250  0.251870 -0.075250  0.748140        True
9767  0.093071  0.181230  0.093071  0.818650        True
9768 -0.165910  0.193460 -0.163630  0.711120        True
9769  0.015174  0.896520  0.015174  0.103510        True
9770 -0.075957  1.229800 -0.075957 -0.229710        True
9771  0.018735  1.062700  0.019950 -0.062692        True
9772  0.175340  0.002605  0.175340  0.997300        True
9773 -0.014375  0.516200 -0.006021  0.483910        True
9774 -0.168520  0.781320 -0.168520  0.218500        True
9775 -2.162000  2.758400 -2.162000 -1.758800        True
9776  0.025826  0.670610  0.033913  0.329390        True
9777 -0.073082  0.450620 -0.073082  0.549100        True
9778 -0.125010  0.122590 -0.125010  0.805770        True
9779  0.054271  0.231520  0.070801  0.768320        True
9780  0.001404  0.482310  0.008447 -0.045081        True
9781 -0.502330  1.776800 -0.502330 -0.777170        True
9782  0.025487  0.544760  0.031264  0.454800        True
9783  0.020226  0.711310  0.021172  0.288690        True
9784 -0.147000  0.776920 -0.147000  0.128670        True
9785 -0.042907  0.837920 -0.042907  0.162040        True
9786 -0.191020  0.927150 -0.189130 -0.073294        True
9787  0.004676  0.549490  0.013002  0.432050        True
9788 -0.027610  0.607480 -0.027610  0.335090        True
9789 -0.238290  0.627080 -0.240360  0.177600        True
9790  0.097188  0.753000  0.104280  0.247000        True
9791  0.021416  0.486780  0.027253  0.512670        True

[9792 rows x 5 columns]

In [9]:
from sklearn.preprocessing import Imputer
imr = Imputer(missing_values='NaN',strategy='mean',axis=0)
imr = imr.fit(df2.values)
imputed_data = imr.transform(df2.values)
print(imputed_data)

[[ 0.15929   0.4624    0.18948   0.3833    0.      ]
 [-0.12743   0.46243  -0.12743   0.53757   0.      ]
 [ 0.070488  0.2357    0.086895  0.67689   0.      ]
 ...
 [-0.23829   0.62708  -0.24036   0.1776    1.      ]
 [ 0.097188  0.753     0.10428   0.247     1.      ]
 [ 0.021416  0.48678   0.027253  0.51267   1.      ]]

In [10]:
df3 = pd.DataFrame(imputed_data)
df3.columns = ['X1','X2','X7','X10','Bankruptcy']
df3.describe()

                X1           X2           X7          X10   Bankruptcy
count  9792.000000  9792.000000  9792.000000  9792.000000  9792.000000
mean      0.043019     0.596404     0.059446     0.389040     0.052594
std       0.359303     4.586887     0.533317     4.590064     0.223233
min     -12.458000     0.000000   -12.458000  -445.910000     0.000000
25%       0.001322     0.263163     0.003005     0.294510     0.000000
50%       0.041374     0.467770     0.048840     0.510435     0.000000
75%       0.111125     0.689183     0.126930     0.714285     0.000000
max      20.482000   446.910000    38.618000    12.602000     1.000000

In [11]:
df4 = df3[(df3['Bankruptcy']==True)]
df4.describe()

               X1          X2          X7         X10  Bankruptcy
count  515.000000  515.000000  515.000000  515.000000       515.0
mean    -0.068873    0.878355   -0.061538    0.103367         1.0
std      0.568076    1.945596    0.568432    1.946747         0.0
min     -4.050600    0.000357   -4.050600  -39.156000         1.0
25%     -0.145510    0.458885   -0.142590    0.105600         1.0
50%      0.000000    0.671030    0.000490    0.305830         1.0
75%      0.044640    0.882850    0.050749    0.516560         1.0
max      9.803700   40.157000    9.803700    0.999450         1.0

In [12]:
df5 = df3[(df3['Bankruptcy']==False)]
df5.describe()

                X1           X2           X7          X10  Bankruptcy
count  9277.000000  9277.000000  9277.000000  9277.000000      9277.0
mean      0.049231     0.580752     0.066162     0.404899         0.0
std       0.343002     4.689694     0.530524     4.692934         0.0
min     -12.458000     0.000000   -12.458000  -445.910000         0.0
25%       0.003128     0.257220     0.004711     0.306400         0.0
50%       0.043545     0.457500     0.051804     0.519670         0.0
75%       0.113140     0.674850     0.129390     0.721390         0.0
max      20.482000   446.910000    38.618000    12.602000         0.0

In [14]:
sum((df3.X1<(np.mean(df3.X1)-np.std(df3.X1)))&(df3.X10<(np.mean(df3.X10)-np.std(df3.X10))))

15

In [15]:
sum(df3.Bankruptcy== True)/df3.X1.count()

0.052593954248366014

In [16]:
sum(df4.Bankruptcy== True)/df4.X1.count()

1.0

In [17]:
sum(df5.Bankruptcy== True)/df5.X1.count()

0.0